body {
    background-color: #f4f4f4;
}
.container {
}
.chart_one {
    width: 500px;
    height: 200px;
    padding: 10px;
    background-color: #95561d;
    border: #3f3f3f solid 3px;
    box-shadow: 1px 10px 18px rgba(0,0,0,0.5);
    border-radius: 15px;
    margin: 0 auto;
    float: left;
}
.chart_two {
    width: 500px;
    height: 200px;
    padding: 10px;
    background-color: #95561d;
    border: #3f3f3f solid 3px;
    box-shadow: 1px 10px 18px rgba(0,0,0,0.5);
    border-radius: 15px;
    margin: 0 auto;
    float: right;
}